@import '~js-datepicker/dist/datepicker.min.css';


body {
  margin: 0;
  background: rgba(187, 174, 165, 0.40);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  font-size: .75rem;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 94.5rem;
  height: 6.6875rem;
  background: #EDEBEA;
}

.user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-container {
  font-family: Times;
  font-size: 12px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41.75rem;
  height: 7.25rem;
  background: rgba(187, 174, 165, 0.40);
}



.bookings-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 10px;
  height: 450px;
}

.room-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-style: solid;
  margin: 10px;
  width: 275px;
  height: 300px;
}

.hidden {
  display: none;
}